<div *ngIf="board" class="flex flex-col space-y-4 h-full" >
    <div #boardTitleContainer class="flex items-center justify-center bg-lightgrey p-4 border border-lightblue">

        <input class="text-center mx-7 w-full h-full text-3xl font-semibold px-2 py-1 text-marfilwhite focus:outline-none focus:text-lightblue truncate" 
            #titleInputRef
            [(ngModel)]="boardTitle"
            type="text"
            [placeholder]="boardTitle"
            (keydown.enter)="saveTitleIfChanged()"
            (focus)="onFocusTitle()"
            (blur)="onBlurTitle()"
            />

        <button *ngIf="showDeleteButton"
            class="absolute right-10 text-xl focus:outline-none"
            (click)="deleteBoard()"
            aria-label="Delete board">
            <svg viewBox="0 0 32 32" fill="#fb2c36" version="1.1" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg">
                <path d="M30 7.249h-5.598l-3.777-5.665c-0.137-0.202-0.366-0.334-0.625-0.334h-8c-0 0-0.001 0-0.001 0-0.259 0-0.487 0.131-0.621 0.331l-0.002 0.003-3.777 5.665h-5.599c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0h3.315l1.938 21.319c0.036 0.384 0.356 0.682 0.747 0.682 0 0 0 0 0.001 0h16c0 0 0.001 0 0.001 0 0.39 0 0.71-0.298 0.745-0.679l0-0.003 1.938-21.319h3.316c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0zM12.401 2.75h7.196l2.999 4.499h-13.195zM23.314 29.25h-14.63l-1.863-20.5 18.358-0.001zM11 11.25c-0.414 0-0.75 0.336-0.75 0.75v0 14c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-14c-0-0.414-0.336-0.75-0.75-0.75v0zM16 11.25c-0.414 0-0.75 0.336-0.75 0.75v0 14c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-14c-0-0.414-0.336-0.75-0.75-0.75v0zM21 11.25c-0.414 0-0.75 0.336-0.75 0.75v0 14c0 0.414 0.336 0.75 0.75 0.75s0.75-0.336 0.75-0.75v0-14c-0-0.414-0.336-0.75-0.75-0.75v0z"></path>
                </svg>
        </button>
      </div>


    <drag-scroll
    class="flex-1 py-6 w-full overflow-x-auto overflow-y-hidden cursor-grab
    [&::-webkit-scrollbar]:h-2 
    [&::-webkit-scrollbar-track]:bg-darkgrey 
    [&::-webkit-scrollbar-thumb]:bg-darkblue"
    [scrollbar-hidden]="true"
    >

    

    <ng-container *ngIf="loading">
    <p>Loading tasks...</p>
    </ng-container>

    <div class="flex flex-row space-x-4 drag-scroll-item">
        
        <div #newTaskInputContainer class="border border-dashed border-lightblue min-w-60 h-20 p-3 my-2 bg-lightgrey content-center select-none">
            <input
            #newTaskInput
            [(ngModel)]="newTaskName"
            (keydown.enter)="handleTaskCreationAttempt()"
            (focus)="onNewTaskInputFocus()"
            (blur)="onNewTaskInputBlur()"
            type="text"
            [placeholder]="newTaskPlaceholder"
            class="w-full px-4 py-2 text-lightblue text-lg font-bold text-center focus:outline-none"
            />
        </div>

        <ng-container *ngIf="!loading && tasks.length > 0">
            <app-task *ngFor="let task of tasks" [task]="task" 
            (taskDeleted)="onTaskDeleted($event)"></app-task>
        </ng-container>
    </div>
    </drag-scroll>

    <app-confirm-dialog
        *ngIf="showConfirm"
        [message]="confirmMessage"
        (confirm)="handleConfirm()"
        (cancel)="handleCancel()"
    ></app-confirm-dialog>

    <app-toast
        *ngIf="toastMessage"
        [message]="toastMessage"
        [type]="toastType"
    ></app-toast>

</div>
