<div class="min-h-screen flex bg-darkgrey text-marfilwhite">
  <!-- Sidebar -->
  <app-sidebar (boardSelected)="setSelectedBoard($event)"
  (toggleUserPanel)="toggleUserPanel()" />
  <!-- Main content area -->
  
  <div class="flex-1 p-6">
    <ng-container *ngIf="showUserPanel">
    </ng-container>

    <ng-container *ngIf="selectedBoard && !showUserPanel">
      <router-outlet />
    </ng-container>

    <div *ngIf="!selectedBoard && !showUserPanel" class="text-center text-marfilwhite text-3xl mt-20">
      Welcome to <span class="text-lightblue">Your Task Planner</span>!
      <p class="mt-4 text-xl">
        Here, you can manage all your tasks and goals, simply and efficiently.
      </p>
    </div>
  </div>
</div>
      
